# Host and port of the app to run on.
APP_HOST=
APP_PORT=

# MongoDB's authentication credentials.
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_HOSTNAME=
MONGO_PORT=
MONGO_DATABASE_NAME=
MONGO_DATABASE_NAME=
MONGO_COLLECTION_NAME=

# Secret key for JWT authentication.
JWT_SECRET_KEY=
